body {
    padding: 10px;
    background-color: lightgray;
}

h1 {
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;

    border-radius: 50%;
}

.country-container {
    display: flex;
    width: 100%;
    
}

.country {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add {
    border-radius: 50%;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}

.country-List{
    width: 50%;
    max-height: 600px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: lightslategrey;
    box-sizing: border-box;
    overflow: auto;
    

    align-items: center;
}

.country-List h5 {
    text-align: center;
}

.country-List h6 {
    text-align: center;
}
